body {
  background-image:url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
  background-attachment: fixed;
}
p {
  color: #404040;
  font-size: 22pt;
  font-family:Georgia, Garamond,serif;
  text-align: center;
}
h1 {
  font-size: 100pt;
  font-family: cursive;
  color: darkorchid;
  text-align: center;
}