body {
  background-image:url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
  background-attachment: fixed;
}
p1 {
  color: red;
}
p2 {
  color: #404040;
  font-size: 11pt;
  font-family:Georgia, Garamond,serif;
}
p3 {
  font-size:  -webkit-xxx-large;
  font-family: cursive;
  color: darkorchid;
}
p4 {
  font-size: -webkit-xxx-large;
  font-style: italic;
  font-family: fantasy;
  color: chartreuse;
}